body:after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(9px);
    background-repeat: no-repeat;
    background: url(https://images.nationalgeographic.org/image/upload/v1638892651/EducationHub/photos/thermometer-in-the-snow.jpg);
}

.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 35vh;
}

.contain h1 {
    position: absolute;
    top: 2.5%;
    font-size: 50px;
    font-weight: bold;
}

.contain input {
    width: 25%;
    background: rgba(225, 225, 225, .3);
    border: 2px solid white;
    border-radius: 50px;
    padding: 1rem 2rem;
}

.contain button {
    background-color: white;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    border: 5px solid lightskyblue;
    position: relative;
    right: 2.3%;
}

button:hover{
    background-color: lightseagreen;
}

.output{
  border: 5px solid lightskyblue;
    text-align: center;
    width: 200px;
    height: 30px;
    justify-content: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 25px;
    font-size: 25px;
    font-weight: bolder;
    max-width: 200px;
    max-height: 30px;
    color: black;

}

button:active{
    background-color: lightblue;
}